cookbook/cookbook/Connected Services/ServiceReference2/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59688/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59688/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59688/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetIngred_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIngred" />
  </wsdl:message>
  <wsdl:message name="IService_GetIngred_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIngredResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetMeasure_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMeasure" />
  </wsdl:message>
  <wsdl:message name="IService_GetMeasure_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMeasureResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetIngred">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetIngred" message="tns:IService_GetIngred_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetIngredResponse" message="tns:IService_GetIngred_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMeasure">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetMeasure" message="tns:IService_GetMeasure_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetMeasureResponse" message="tns:IService_GetMeasure_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetIngred">
      <soap:operation soapAction="http://tempuri.org/IService/GetIngred" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMeasure">
      <soap:operation soapAction="http://tempuri.org/IService/GetMeasure" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:59688/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>